


/* 
  spilting-wrating-start
*/
.splitting.animated .char {
  -webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(30ms * var(--char-index));
  animation-delay: calc(30ms * var(--char-index));
}

.splitting .whitespace {
  width: 10px;
}

@keyframes fd-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
/* 
  spilting-wrating-end
*/
/* 
  title-ani-css-start
*/
.txaa-split-text-2 {
	text-transform: unset !important;
	.split-line {
		div {
			div {
				&:nth-child(1) {
					text-transform: capitalize;
                    
				}
			}
		}
	}
}


.fx-cube-1 {
	transition: var(--cube-1);
}
/* 
  title-ani-css-end
*/
