/* 
    services-1-start
*/
.fx-services-1 {
    &-area {
        padding-top: 370px;
        padding-bottom: 52px;
        margin-left: 12px;
        margin-right: 12px;
        background: #021F45;
        border-radius: 16px;

        @media #{$md,$xs} {
            padding-top: 120px;
        }

    }

    &-bg-img {
        position: absolute;
        right: 12px;
        top: 12px;
        height: calc(100% - 24px);
        width: 49%;
        border-radius: 12px;
        z-index: -1;

        @media #{$lg} {
            width: 44%;
        }

        @media #{$md,$xs} {
            display: none;
        }
    }

    &-wrap {
        max-width: 950px;
        width: 100%;
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        gap: 50px 80px;
        align-items: end;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        &-btn {
            gap: 32px;
        }
    }
    
    &-slider {
        background: var(--fx-clr-pr-1);
        border-radius: 8px;
        padding: 40px;
        padding-top: 131px;
        max-width: 384px;
        width: 100%;
        display: grid;

        &-item {
            .item-title {
                font-size: 24px;
                line-height: 1.17;
                margin-bottom: 14px;
            }

            .item-disc {
                font-size: 16px;
                line-height: 24px;
            }
        }


        &-btn {
            display: flex;
            position: absolute;
            right: 40px;
            top: 40px;
            z-index: 1;

            .slider-btn {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 6px 0  0 6px;
                font-size: 20px;
                cursor: pointer;
                opacity: 32%;
                transition: .3s;

                &:nth-child(2) {
                    border-radius: 0 6px 6px 0 ;
                    margin-left: -2px;
                }

                &:hover {
                    opacity: 100%;
                }
            }
        }

        &-pagination {
            display: inline-flex;
            align-items: self-start;
            z-index: 1;
            gap: 8px;
            font-family: var(--fx-font-pr-1);
            color: rgb(255 255 255 / 64%);
            line-height: 1;
            position: absolute;
            top: 40px;
            left: 40px;
            height: 7%;
            width: auto;

            .swiper-pagination-current {
                color: #fff;
            }
        }
        
        .swiper-notification {
            display: none;
        }
    }
    
}


/* 
    services-1-end
*/