

/* 
    heading-paragraph-css-start
*/

.fx-heading-1 {
    font-family: var(--fx-font-pr-1);
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}

.fx-para-1 {
    font-family: var(--fx-font-pr-1);
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }

    &:is(.has-opacity-7) {
        opacity: 7;
    }
}


.fx-subtitle-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px 40px;
    font-family: var(--fx-font-pr-1);
    text-transform: capitalize;
    color: #000;
    line-height: 1;
    margin-bottom: 0;
    opacity: 64%;
    margin-bottom: 20px;
}


.fx-scn-title-1 {
    font-family: var(--fx-font-pr-1);
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    color: #000;
    letter-spacing: -2px;
    line-height: 1.088;
    margin-bottom: 0;

}

.fd-scn-title-1 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.30;
    color: #000;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 67px;
    margin-bottom: 0px;



    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 50px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
    }
    
    @media #{$xs} {
        font-size: 26px;
    }
    @media #{$sm} {
        font-size: 30px;
    }

}


/* 
    heading-paragraph-css-end
*/
